.meal-summary {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.meal-summary > div {
  background-color: white;

  max-width: 45rem;
  width: 90%;

  text-align: center;
  border-radius: 20px;

  background-image: linear-gradient(
      rgba(252, 220, 200, 0.8),
      rgba(255, 255, 255, 0.95)
    ),
    url(../../assets/small_icons.jpeg);

  background-size: cover;
  padding-bottom: 3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.meal-summary h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
}
.meal-summary p {
  padding: 0.3rem 3rem;
  font-size: 1.1rem;
}
@media screen and (max-width: 620px) {
  .meal-summary h1 {
    font-size: 1.7rem;
    padding: 0.5rem 1rem 0 0.5rem;
  }
  .meal-summary p {
    padding: 0.2rem 2rem;
    font-size: 0.9rem;
  }
  .meal-summary > div {
    padding-bottom: 15px;
    width: 95%;
  }
}
