.container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 4% 2%;
  padding-top: 5rem;
  box-sizing: border-box;
  height: 50vh;
  top: 2.5rem;
  animation: fall 1s;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 1%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  line-height: 0;
  background-color: #fff;
  border-radius: 10px;
}

.box > img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}

.box > span {
  position: relative;
  top: -15%;
  left: 33%;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);

  font-weight: bold;
}

.box:hover {
  flex: 1 1 30%;
  border-radius: 20px;
}
.box:hover > span {
  /* display: none; */
  top: -50%;
  left: 35%;
  font-size: 2.5rem;
}

.box:hover > img {
  width: 100%;
  height: 100%;
}

@keyframes fall {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
